html,body {
  height:100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #D5CDBC;
}

::-webkit-scrollbar { 
  display: none; 
}

.rotate {
  text-align: center;
  display: none;
}

.controller {
  position: relative;
  top: 10%;
  left: 5%;
  width: 90%;
  height: 80%;
  background-color: #333;
  border-radius: 40px;
}

.col1, .col2, .col3 {
  height: 100%;
  float: left;
  position: relative;
}

.col1 {
  width: 33%;
}

.col2 {
  width: 33%;
}

.col3 {
  width: 34%;
}


.a, .b {
  position: absolute;
  width: 35%;
  height: 22%;
  background-color: #D5CDBC;
  bottom: 10%;
  left: 10%;
  border-radius: 5px;
}

.a {
  left: 52%;
}

.circle {
  background-color: #DB2B23;
  border: 3px solid #222;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.select-start {
  position: absolute;
  background-color: #D5CDBC;
  border-radius: 10px;
  width: 80%;
  height: 20%;
  right: 0;
  bottom: 10%;
  margin: auto;
  padding-left: 7%;
  padding-top: 4%;
}

.select, .start {
  position: relative;
  width: 45%;
  height: 90%;
  border: 2px solid #444;
  float: left;
}

.select {
  border-right: none;
}

.start {
  border-left: none;
}

.select-start .box {
  position: absolute;
  width: 80%;
  height: 40%;
  background-color: #333;
  border-radius: 20px;
  bottom: 30%;
  left: 10%;
}
