html,body {
  height:100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #D5CDBC;
}

::-webkit-scrollbar { 
  display: none; 
}

.rotate {
  text-align: center;
  display: none;
}

@import url(http://fonts.googleapis.com/css?family=Coda+Caption:800);

.controller {
  background: #dddddd -webkit-linear-gradient(#dddddd, #eeeeee);
  width: 250px;
  height: 250px;
  border-radius: 48px;
  box-shadow: 5px 10px 3px #cccccc inset, 3px 3px 25px black;
}


span {
  color: #222222;
  font-size: 18px;
  font-family: "Coda Caption", sans-serif;
  font-style: normal;
  text-transform: capitalize;
  margin: 30px 0 0 25px;
  position: absolute;
}

sup {
  font-size: 11px;
  font-family: sans-serif;
}

.plus {
  color: #333333;
  font-weight: bold;
  font-size: 71px;
  position: absolute;
  margin: 140px 0 0 33px;
  -webkit-text-stroke: 14px #999999;
  text-shadow: -2px -2px 5px black;
}
.plus:before {
  content: "+";
  color: #333333;
  font-weight: bold;
  font-size: 76px;
  position: absolute;
  margin: -2px 0 0 -1px;
  -webkit-text-stroke: 8px #333333;
}

.select {
  background: linear-gradient(#777777, #ffffff);
  width: 34px;
  height: 16px;
  position: absolute;
  margin: 205px 0 0 80px;
  border-radius: 8px;
  transform: rotate(-28deg);
  box-shadow: 0 0 1px #555555 inset;
}
.select:before {
  background: linear-gradient(#888888, #666666);
  content: "";
  width: 26px;
  height: 8px;
  position: absolute;
  margin: 3px 0 0 3px;
  border: solid 1px #444444;
  border-radius: 5px;
  z-index: 99996;
}

.start {
  background: linear-gradient(#777777, #ffffff);
  width: 34px;
  height: 16px;
  position: absolute;
  margin: 205px 0 0 120px;
  border-radius: 8px;
  transform: rotate(-28deg);
  box-shadow: 0 0 1px #555555 inset;
}
.start:before {
  background: linear-gradient(#888888, #666666);
  content: "";
  width: 26px;
  height: 8px;
  position: absolute;
  margin: 3px 0 0 3px;
  border: solid 1px #444444;
  border-radius: 5px;
  z-index: 99996;
}

.select span, .start span {
  color: #1e2969;
  font-family: "Arial", sans-serif;
  font-size: 6px;
  font-weight: bold;
  width: 110px;
  position: absolute;
  margin: 16px 0 0 5px;
  text-transform: uppercase;
  -webkit-font-smoothing: subpixel-antialiased;
}

.buttonA {
  background: linear-gradient(#666666, #ffffff);
  width: 36px;
  height: 36px;
  position: absolute;
  margin: 175px 0 0 157px;
  border-radius: 50%;
  box-shadow: 0 0 1px #444444;
}
.buttonA:before {
  background: linear-gradient(#bd0055, #a10254);
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 3px 0 0 3px;
  border-radius: 50%;
  box-shadow: 1px 1px 2px black;
}

.buttonB {
  background: linear-gradient(#666666, #ffffff);
  width: 36px;
  height: 36px;
  position: absolute;
  margin: 155px 0 0 197px;
  border-radius: 50%;
  box-shadow: 0 0 1px #444444;
}
.buttonB:before {
  background: linear-gradient(#bd0055, #a10254);
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  margin: 3px 0 0 3px;
  border-radius: 50%;
  box-shadow: 1px 1px 2px black;
}

.speaker {
  background: linear-gradient(#cccccc, #444444);
  width: 30px;
  height: 6px;
  position: absolute;
  margin: 220px 0 0 193px;
  transform: rotate(61deg);
}
.speaker:before {
  background: linear-gradient(#cccccc, #444444);
  content: "";
  width: 30px;
  height: 6px;
  position: absolute;
  margin: -10px 0 0 0;
}
.speaker:after {
  background: linear-gradient(#cccccc, #444444);
  content: "";
  width: 30px;
  height: 6px;
  position: absolute;
  margin: -20px 0 0 0;
}
