#game_qr {
  margin-bottom: 20px;
}

.connect-cntrl {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.7em !important;
  text-transform: initial;
  color: #333 !important;
  margin-left: -11px;
}

#controller-qr {
  display: inline-block;
  text-align: center;
}

#game-url {
  display: inline-block;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  font-size: 1.1em;
  width: 100%;
}

.margin-bottom-10 {
  margin-bottom: 15px;
}

.color-green {
  color: green;
  font-size: 1.5em;
  margin-bottom: 20px;
}

#canvas {
  width: 600px;
  height: 600px;
}

  #select-view ul {
    font-size: 2em;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }

    #select-view ul li {
      margin: 0;
      padding: 0;
      font-size: 1.5em;
      color: #000;
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      text-transform: uppercase;
    }

      #select-view ul li.red.active {
        background-color: #C05449;
        color: #fff;
      }

      #select-view ul li.green.active {
        background-color: #28B965;
        color: #fff;
      }

      #select-view ul li.blue.active {
        background-color: #1783A5;
        color: #fff;
      }

