#game_qr {
  margin-bottom: 20px;
}

.connect-cntrl {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.7em !important;
  text-transform: initial;
  color: #333 !important;
  margin-left: -11px;
}

#controller-qr {
  display: inline-block;
  text-align: center;
}

#game-url {
  display: inline-block;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  font-size: 1.1em;
  width: 100%;
}

.margin-bottom-10 {
  margin-bottom: 15px;
}

.color-green {
  color: green;
  font-size: 1.5em;
  margin-bottom: 20px;
}

#canvas {
  width: 600px;
  height: 600px;
}

#select-view ul {
  font-size: 2em;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

#select-view ul li {
  margin: 0;
  padding: 0;
  padding: 0.4em;
  color: white;
  font-size: 1.5em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
}

#select-view ul li.red {
  background-color: #c0392b;
}

#select-view ul li.green {
  background-color: #27ae60;
}

#select-view ul li.blue {
  background-color: #34495e;
}

#select-view ul li.active {
  font-size: 2em;
}

.disconnected {
  background-color: #900;
}

.connected {
  background-color: #090;
}

#controllers {
  display: none;
}
